.Div {
  display: flex;
  width: 100%;
  height: 100vh;
}

.Left {
  width: 50%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.Box {
  padding-right: 68px;
  width: 442px;
  height: 699px;
  text-align: left;
}

.Logo {
  width: 448px;
  height: 10%;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.About {
  width: 448px;
  height: 40%;
}

.About .Bigp {
  margin: 0;
  font-weight: 400;
  font-size: 40px;
  line-height: 44px;
}

.About .Smallp {
  font-weight: 200;
  font-size: 12px;
  line-height: 16px;
}

.Image {
  width: 448px;
  height: 50%;
}

.Image img{
  width:100%;
  height:100%; 
}

.Right {
  width: 50%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.Card {
  margin-left: 68px;
  width: 442px;
  height: 699px;
  border-radius: 10px;
  background: #53536c;
  box-shadow: 0px 12px 14px rgba(0, 0, 0, 0.25);
  text-align: center;
}

.Card div {
  height: 12.5%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.Card p {
  width:100%;
  text-align: center;
  color: white;
}

.Card input {
  width: 80%;
  border-radius: 10px;
  height: 30px;
}

.Card button {
  width: 80%;
  border-radius: 10px;
  height: 40px;
  cursor: pointer;
}

@media all and (min-width:480px) and (max-width:1023px) {
  /*스타일입력*/
  .Div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-align: center;
  }

  .Left {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .Box {
    padding: 40px;
    width: 442px;
    height: 699px;
    text-align: left;
  }

  .Right {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .Card {
    margin: 40px;
    width: 442px;
    height: 699px;
    border-radius: 10px;
    background: #53536c;
    box-shadow: 0px 12px 14px rgba(0, 0, 0, 0.25);
    text-align: center;
  }
} 



/* 모바일 가로, 테블릿 세로 (해상도 480px ~ 767px)*/ 
@media all and (min-width:480px) and (max-width:767px) {
  /*스타일입력*/
  
} 

/* 모바일 가로, 테블릿 세로 (해상도 ~ 479px)*/ 
@media all and (max-width:479px) {

  .Div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-align: center;
  }

  .Left {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .Box {
    width: 442px;
    height: 699px;
    text-align: center;
  }

  .Right {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .Card {
    margin: 40px;
    width: 442px;
    height: 699px;
    border-radius: 10px;
    background: #53536c;
    box-shadow: 0px 12px 14px rgba(0, 0, 0, 0.25);
    text-align: center;
  }
  /*스타일입력*/
}