.Div1 {
  width:100%;
  height:100%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
}

.Div1 img {
  width: 670px;
  height: 100%;
}

#mountNode {
  height: 34%;
  position: absolute;
}

.Store {
  height: 58%;
  position: absolute;
  font-weight: 600;
  font-size: 48px;
}

@media all and (min-width:768px) and (max-width:1023px) {
  /*스타일입력*/
} 

/* 테블릿 세로 (해상도 768px ~ 1023px)*/ 
@media all and (min-width:768px) and (max-width:1023px) {
  /*스타일입력*/
} 

/* 모바일 가로, 테블릿 세로 (해상도 480px ~ 767px)*/ 
@media all and (min-width:480px) and (max-width:767px) {
  /*스타일입력*/
  
} 

/* 모바일 가로, 테블릿 세로 (해상도 ~ 479px)*/ 
@media all and (max-width:479px) {
  /*스타일입력*/
}