.Half {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.IconBox {
  height: 100px;
  width: 100px;
  background-color: #375877;
  border-radius: 10px;
}

.AdminSelect {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 50%;
  width: 100%;
}

.AdminMenu {
  height: 100px;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.AdminSelect button {
  background-color: #53536c;
  border: none;
  border-radius: 5px;
  color: white;
}

.AdminSelect button:hover {
  background-color: #9595a7;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.AdminSelect p {
  margin: 0;
  font-family: "YdestreetL";
  font-size: 20px;
}

@media all and (max-width: 250px) {
  /*스타일입력*/
  .AdminSelect {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 50%;
    width: 100%;
  }
}
